---
import FlashcardsLayout from '@/layouts/FlashcardsLayout.astro';
import { GeneratorPage } from '@/components/Generator/GeneratorPage';
---

<FlashcardsLayout title="Generuj fiszki" description="Tworzenie nowych fiszek przy użyciu AI">
  <div class="generator-container">
    <GeneratorPage client:load />
  </div>
</FlashcardsLayout>
