---
import FlashcardsLayout from '@/layouts/FlashcardsLayout.astro';
import { GeneratorPage } from '@/components/Generator/GeneratorPage';
---

<FlashcardsLayout 
  title="Generate Flashcards" 
  description="Create new flashcards using AI"
>
  <div class="generator-container">
    <GeneratorPage client:load />
  </div>
</FlashcardsLayout> 